<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>genz.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
				<key>dateExpires</key>
				<string>2024-02-27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.14.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>10.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PurchasesHybridCommon.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RevenueCat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>4.25.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>5.17.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20220623.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>background_fetch.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.50.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.50.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>purchases_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>4AA98FF0CE62D8A0B5E58F8E921B1C0841F4A9FF</string>
						<key>dateExpires</key>
						<string>2024-02-27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Q964Q6R2NW</string>
						<key>name</key>
						<string>Norditech AB</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Q964Q6R2NW.com.norditech.genz</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Q964Q6R2NW</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>0fc24fab-aafa-4ac2-97d7-784ed8547b85</string>
				<key>dateExpires</key>
				<string>2024-02-27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.norditech.genz</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Q964Q6R2NW</string>
				<key>name</key>
				<string>Norditech AB</string>
			</dict>
			<key>versionNumber</key>
			<string>1.7.1</string>
		</dict>
	</array>
</dict>
</plist>
