---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<a href="itms-services://?action=download-manifest&url=https://genz-rho.vercel.app/1.7.1/manifest.plist">Install App</a>
	</main>
</Layout>

<style>
</style>
